.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

App-input {

}

.App-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-button {
  width: 15%;
}



